@mixin gsFlex($wrap){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	@if $wrap == true {
		flex-flow: row wrap;
	}
}

@mixin gsSetFlex($arg){
	-webkit-box-flex: $arg;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: $arg;         /* OLD - Firefox 19- */
	-webkit-flex: $arg;          /* Chrome */
	-ms-flex: $arg;              /* IE 10 */
	flex: $arg;
}